@model string

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    <div>
        @Html.TextAreaFor(m => m, new { @class = "form-control", @rows = 8})
        @Html.ValidationMessageFor(m => m)
    </div>
</div>