@using GridMvc.Html
@using PagedList

@model IQueryable<QMS.Web.ViewModels.Areas.AreaListViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>
        <span class="label label-default">Areas</span>
    </h1>
</div>

@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default pull-right" })

<div>
    @Html.Grid(Model).Columns(col =>
{
    col.Add(m => m.Name).Titled("Name").Filterable(true).Sortable(true).SetWidth(40);
    col.Add(m => m.Description).Titled("Description").Filterable(true).Sortable(true).SetWidth(40);
    col.Add(m => m.Employee.UserName).Titled("Responsible user").Filterable(true).Sortable(true).SetWidth(40);

    col.Add()
    .Sanitized(false)
    .Encoded(false)
    .RenderValueAs(m => Html.ActionLink("Details", "Details", "Areas", new { id = m.Id, area = "Admin" }, null))
    .SetWidth(20);
}).WithPaging(10, 5).Selectable(false).EmptyText("There are no areas yet to display")
</div>

<div class="clearfix"></div>
