
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container">
    @Html.DropDownList("Users", ViewBag.Users as IEnumerable<SelectListItem>, new { @class = "form-control", id = "receiverId" })
    <textarea type="text" id="message" class="form-control"></textarea>
    <input type="button" id="sendmessage" value="Send" class="btn btn-default" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.chatHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.broadcastMessage = function (name, message) {
                // Html encode display name and message.
                var encodedName = $('<div />').text(name).html();
                var encodedMsg = $('<div />').text(message).html();
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + encodedName
                    + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
            };

            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    var receiverId = $('#receiverId').val();
                    var message = $('#message').val();
                    chat.server.send(receiverId, message);
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });
    </script>
}