@using PagedList
@model IQueryable<QMS.Web.ViewModels.Areas.AreaListViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using GridMvc.Html

<div class="page-header">
    <h1>
        <span class="label label-default">Areas</span>
    </h1>
</div>

<div>
    @Html.Grid(Model).Columns(col =>
{
    col.Add(m => m.Name).Titled("Name").Filterable(true).Sortable(true).SetWidth(40);
    col.Add(m => m.Description).Titled("Description").Filterable(true).Sortable(true).SetWidth(40);
    col.Add(m => m.Employee.UserName).Titled("Responsible user").Filterable(true).Sortable(true).SetWidth(40);

    col.Add()
    .Sanitized(false)
    .Encoded(false)
    .RenderValueAs(m => Html.ActionLink("Details", "Details", "CompanyAreas", new { id = m.Id, area = "" }, null))
    .SetWidth(20);
}).WithPaging(5, 5).Selectable(false)
</div>

<div class="clearfix"></div>

