@using PagedList
@model IQueryable<QMS.Web.ViewModels.Users.UserDetailsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using GridMvc.Html

<div class="page-header">
    <h1>
        <span class="label label-default">Users</span>
        <small>@ViewBag.Title</small>
    </h1>
</div>

<div>
    @Html.Grid(Model).Columns(col =>
{
    col.Add(m => m.UserName).Titled("Name").Filterable(true).Sortable(true).SetWidth(40);
    col.Add(m => m.FirstName).Titled("Description").Filterable(true).Sortable(true).SetWidth(40);
    col.Add(m => m.LastName).Titled("Description").Filterable(true).Sortable(true).SetWidth(40);
    col.Add(m => m.PhoneNumber).Titled("Description").Filterable(true).Sortable(true).SetWidth(40);
    col.Add(m => m.Email).Titled("Description").Filterable(true).Sortable(true).SetWidth(40);

    col.Add()
    .Sanitized(false)
    .Encoded(false)
    .RenderValueAs(m => Html.ActionLink("Details", "Details", "Users", new { area = "", id = m.Id }, null))
    .SetWidth(20);
}).WithPaging(10, 5).Selectable(false)
</div>

<div class="clearfix"></div>

