@using PagedList
@model IQueryable<QMS.Web.Models.Departments.DepartmentListViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using GridMvc.Html

<div class="page-header">
    <h1>
        <span class="label label-default">Departments</span>
    </h1>
</div>


<div>
    @Html.Grid(Model).Columns(col =>
{
    col.Add(m => m.Name).Titled("Name").Filterable(true).Sortable(true).SetWidth(40);
    col.Add(m => m.Description).Titled("Description").Filterable(true).Sortable(true).SetWidth(40);
    col.Add(m => m.Division.Name).Titled("Divisions").Filterable(true).Sortable(true).SetWidth(40);

    col.Add()
    .Sanitized(false)
    .Encoded(false)
    .RenderValueAs(m => Html.ActionLink("Areas", "Index", "CompanyAreas", new { departmentId = m.Id }, null))
    .SetWidth(20);
}).WithPaging(10, 5)
</div>

<div class="clearfix"></div>

