@using PagedList
@model QMS.Web.Models.Areas.AreaManageViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>
        <span class="label label-default">Areas</span>
        <small>@ViewBag.Title</small>
    </h1>
</div>

<p><strong>@Model.Area.Name</strong></p>
<p><em>@Model.Area.Description</em></p>

@using GridMvc.Html

<a href="~/Private/Areas/Manage/@Model.Area.Id/createrecord" class="btn btn-default">Create new record</a>
<a href="~/private/areas/Manage/@Model.Area.Id" class="btn btn-default">All</a>
<a href="~/private/areas/GetUpcomingRecords/@Model.Area.Id" class="btn btn-default">Upcoming</a>
<a href="~/private/areas/GetMissedRecords/@Model.Area.Id" class="btn btn-default">Missed</a>

@Html.Grid(Model.Records).Columns(col =>
{
    col.Add(m => m.Status).Filterable(true).Sortable(true).Width = "10%";
    col.Add(m => m.Document.Title).Filterable(true).Sortable(true).Width = "10%";
    col.Add(m => m.Document.Code).Filterable(true).Sortable(true).Width = "10%";
    col.Add(m => m.Title).Titled("Name").Filterable(true).Sortable(true).Width = "10%";
    col.Add(m => m.Description).Filterable(true).Sortable(true).Width = "20%";
    col.Add(m => m.DateCreated).Filterable(true).Sortable(true).Format("{0:dd/MM/yyyy}").SetWidth(10);
    col.Add(m => m.FinishingDate).Filterable(true).Sortable(true).Format("{0:dd/MM/yyyy}").SetWidth(10);
    col.Add(m => m.StatusDate).Filterable(true).Sortable(true).Format("{0:dd/MM/yyyy}").SetWidth(10);
    col.Add()
    .Sanitized(false)
    .Encoded(false)
    .RenderValueAs(m => Html.ActionLink(
        "Edit",
        "Edit",
        "Records",
        new { @Area = "Private", id = m.Id }, new { @class = "btn btn-default" }))
    .Width = "10%";
}).WithPaging(10, 5).Selectable(true)

