@using PagedList
@using GridMvc.Html
@model IQueryable<QMS.Web.ViewModels.Notes.NoteDetailsViewModel>

<fieldset>
    <legend>My notes</legend>
    <div>
        @Html.Grid(Model).Columns(col =>
{
    col.Add(m => m.Title)
    .Titled("My notes")
    .Sortable(true)
    .Filterable(true)
    .Sanitized(false)
    .Encoded(false)
    .RenderValueAs(m => Html.ActionLink(m.Title, "Edit", "Records", new { id = m.RecordId, area = "Private" }, null))
    .SetWidth(20);

    col.Add(m => m.CreatedOn).Titled("Date created").Filterable(true).Sortable(true).SetWidth(40);
}).WithPaging(10, 5).Selectable(false)
    </div>
</fieldset>