@model QMS.Web.Models.Divisions.DivisionRequestModel
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6 col-md-offset-3">
    <h1>Create Division</h1>
    @using (Ajax.BeginForm("Create", new AjaxOptions
    {
        HttpMethod = "POST"
    }))
    {
        @Html.AntiForgeryToken()

        @Html.EditorFor(m => m.Name)
        @Html.EditorFor(m => m.Description, new { @class = "formr-control" })
        <input type="submit" value="Create" class="btn btn-primary" />
    }
</div>
<div style="clear:both"></div>