@using PagedList
@using GridMvc.Html
@model IQueryable<QMS.Web.Models.Departments.DepartmentListViewModel>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>
        <span class="label label-default">Departments</span>
    </h1>
</div>

<a href="~/admin/departments/create" class="btn btn-default pull-right">Create</a>

<div>
    @Html.Grid(Model).Columns(col =>
{
    col.Add(m => m.Name).Titled("Name").Filterable(true).Sortable(true).SetWidth(40);
    col.Add(m => m.Description).Titled("Description").Filterable(true).Sortable(true).SetWidth(40);
    col.Add(m => m.Division.Name).Titled("Division").Filterable(true).Sortable(true).SetWidth(40);

    col.Add()
    .Sanitized(false)
    .Encoded(false)
    .RenderValueAs(m => Html.ActionLink("Details", "Details", "Departments", new { id = m.Id }, null))
    .SetWidth(20);
}).WithPaging(10, 5).Selectable(false).EmptyText("There are no departments yet to display")
</div>

<div class="clearfix"></div>