@using PagedList
@model IQueryable<QMS.Web.ViewModels.Users.UserDetailsViewModel>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>
        <span class="label label-default">Users</span>
    </h1>
</div>

@Html.ActionLink("Register", "Register", null, new { @class = "btn btn-default pull-right" })

@using GridMvc.Html

<div>
    @Html.Grid(Model).Columns(col =>
{
    col.Add(m => m.UserName).Titled("Username").Filterable(true).Sortable(true).Width = "20%";
    col.Add(m => m.FirstName).Titled("First name").Filterable(true).Sortable(true).Width = "20%";
    col.Add(m => m.LastName).Titled("Last name").Filterable(true).Sortable(true).Width = "20%";
    col.Add(m => m.Email).Titled("Email").Filterable(true).Sortable(true).Width = "20%";
    col.Add(m => m.PhoneNumber).Titled("Phone").Filterable(true).Sortable(true).Width = "20%";

    col.Add()
    .Sanitized(false)
    .Encoded(false)
    .RenderValueAs(m => Html.ActionLink("Manage", "Edit", "Users", new { id = m.Id, area = "Admin" }, null));
}).WithPaging(10, 5).Selectable(false).Named("Users")
</div>

<div class="clearfix"></div>