@model QMS.Web.Models.Procedures.ProcedureUpdateModel

@{
    ViewBag.Title = "Edit";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center"><span class="label label-default">Procedures</span></h1>

<h2>Update</h2>

