@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Quality Management System Software</h3>

<p>This is a Telerik Academy project.</p>
<p>Author: Vladimir Dimov</p>
<p>Email: vdimov1124[at]gmail.com</p>
